body {
    background-color: #4CAF50;
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    background-color: white;
    max-width: 20rem;
    margin: 20px auto;
    border: solid #2E7D32 2px;
    padding: 20px;
}

label[for] {
    color: #2E7D32;
    text-transform: uppercase;
}

input[type=text],[type=password] {
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 100%;
}

input[type=submit] {
    background-color: #2E7D32;
    border-style: none;
    color: white;
    padding: 15px;
}

#error-label {
    background-color: white;
    color: red;
    max-width: 20rem;
    margin: 20px auto;
    padding: 20px;
    border: solid red 2px;
    display: none;
}