body {
    display: flex;
    flex-direction: row;
    background-color: #ff775c;
    padding: 5px;
}

.form {
    background-color: white;
    padding: 7px;
    border: solid #ff4216 2px;
    color: #661300;
    width: 300px;
    position: fixed;
    margin-left: 35px;
}

label {
    text-transform: uppercase;
}

input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

.form button {
    background-color: #e02a00;
    border-style: none;
    color: white;
    padding: 15px;
}

.lista {
    flex: 2;
}

.linha {
    display: flex;
    flex-direction: row;
}

.linha div {
    flex: 1;
    margin: 5px;
    background-color: white;
}

.item {
    border-radius: 10px;
    border: solid #ff4216 2px;
    padding: 5px;
}

.empty-item {
    visibility: hidden;
}

.item-img-wrapper{
    text-align: center;
}

.item-img{
    width: 100px;
    height: 100px;
}

.item-action-wrapper{
    display: flex; 
    flex-direction: row;
}

.action-edit{
    background-color: #e02a00;
    border-style: none;
    color: white;
    padding: 5px;
    flex: 1;
    margin-right: 5px;
}

.action-delete{
    background-color: #e02a00;
    border-style: none;
    color: white;
    padding: 5px;
    flex: 1;
}

.showcase {
    flex: 2;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: solid #ff4216 2px;
}

.showcase img{
    width: 300px;
    height: 300px;
}